h2 {
  width: 284px;
  height: 42px;
  font-family: Corpid E1s;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #3A444E;
}
.layot-form {
  width: 284px;
  height: 360px;
  background: #F5F7F8;
  border-radius: 30px;
  padding: 16px 12px 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.toggler {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  
  
  .button-toggler {
    cursor: pointer;
    text-align: center;
    width: 260px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-toggler.active {
    background: linear-gradient(292.85deg, #3A444E 1.13%, rgba(58, 68, 78, 0.78) 98.35%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    color: #FFFFFF;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
}




.custom-button{
  width: 248px;
  height: 52px;
  background: #00B1AB;
  border-radius: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Corpid E1s;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
  background: linear-gradient(180deg, #00B1AB 0%, #00827D 100%);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.custom-button.disabled {
  background: #D0D5DB;
}

.option {
  display: block;
  margin-bottom: 0.5em;
}

.check {
  padding-left: 1.3em;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  margin-top: 0.1em;
  margin-left: -1.1em;
  width: 0.7em;
  height: 0.7em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4A90E2;
}

.check__input:checked + .check__box {
  background-color: #4A90E2;
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
}

.check__input:focus + .check__box {
  box-shadow:
      0 0 0 0.1em #4A90E2,
      0 0 0 0.2em #7ED321;
}

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}

.check__text {
  font-family: Corpid E1s;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #3A444E;
  margin-top: 20px;
}