<div class="main-container">

  <nav class="navbar-main">
    <h2>header</h2>
  </nav>
  
  <div class="container">
  <router-outlet></router-outlet>
  </div>
  
  <footer class="footer-main">
    <div>
      <p class="info-phone">
        +7 800 100-32-00
      </p>
      <p class="info-text">
        для бесплатных звонков <br>
        на территории России
      </p>
    </div>
    <div>
      <p class="info-phone ">
        +7 495 777-41-50
      </p>
      <p class="info-text">
        для звонков из любой точки мира <br>
        (по тарифам вашего оператора связи)
      </p>
    </div>
    <div class="info-company">
      © ТрансКапиталБанк, 2021
    </div>
  </footer>
</div>